body {
  background-color: #000;
  color: #fff;
  font-family: Montserrat;
  background: url('../assets/rat-pack-overlay.jpg') 0 0 no-repeat fixed;
  height: 100%;
}

img.logo {
  display: block;
  margin: 2em 0;
}
