body {
  height: 100%;
  color: #fff;
  font-family: Montserrat;
  background-color: #000;
  background-image: url('rat-pack-overlay.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body.nye {
  background-image: url('prince-1999.jpg');
}

img.logo {
  display: block;
  margin: 2em 0;
}

input {
  color: white;
}
input::placeholder {
  color: #666;
}

.what {
  color: rgb(155, 77, 202);
}
